<html>
  <head>
    <title>Dynamic Histogram Equalization</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>

    <div>
      <p>Upload image here...</p>
      <form id="dhe_form" onsubmit="return false;" method= "POST" enctype="multipart/form-data">
        <input id="file" type = "file" name = "file" />
        <input type = "submit"/>
      </form>
    </div>

    {% if output_image %}
    <div>
      <h2>Input Image:</h2>
      <img src="{{ url_for('send_image_file', filename=input_image) }}" alt="Input Image">
    </div>
    {% endif %}

    {% if input_image %}
    <div>
      <h2>Output Image:</h2>
      <img src="{{ url_for('send_image_file', filename=output_image) }}" alt="Output Image">
    </div>
    {% endif %}
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $("#dhe_form").submit(function (){
        var data = new FormData();
        jQuery.each(jQuery('#file')[0].files, function(i, file) {
          data.append('file-'+i, file);
        });
        $.ajax({
          url: '/dhe_upload',
          data: data.value,
          cache: false,
          contentType: false,
          processData: false,
          method: 'POST',
          type: 'POST',
          success:function(data){
            alert('success');
          }
        })
      })
    </script>
  </body>

</html>