<html>
  <head>
    <title>Histogram Equalization</title>
  </head>

  <body>

    <div>
      <p>Upload image here...</p>
      <form action="/he_upload" method= "POST" enctype="multipart/form-data">
        <input type = "file" name = "file" />
        <input type = "submit"/>
      </form>
    </div>

    {% if output_image %}
    <div>
      <h2>Input Image:</h2>
      <img src="{{ url_for('send_image_file', filename=input_image) }}" alt="Input Image">
    </div>
    {% endif %}

    {% if input_image %}
    <div>
      <h2>Output Image:</h2>
      <img src="{{ url_for('send_image_file', filename=output_image) }}" alt="Output Image">
    </div>

    <div>
      <a href="{{ url_for('download_image_file', filename=output_image) }}" download="dhe">
        <button>Download</button>
      </a>
    </div>
    
    {% endif %}
    
  </body>

</html>