<html>
  <head>
    <title>Histohance</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/scripthistogram.js"></script>
  </head>
  <body>
    <div class="container" id="welcome">
      <div class="logo">
        <img id="logo"></img>
        <p>Enhance your images today!</p>
        <a class="button getStarted" href="/upload">Get started</a>
      </div>
    </div>
    <section id="upload">
      <div class="container" id="upload">
      <form id="upload_form" onsubmit="return false;" method= "POST" enctype="multipart/form-data" class="hist_form">
        <div class="image-upload-wrap">
          <input id="file" class="file-upload-input" type = "file" name = "file" onchange="readURL(this);" accept="image/*" />
          <div class="drag-text">
            <p>Upload your image here</p>
          </div>
        </div>
        <div class="file-upload-content">
          <img class="file-upload-image" src="#" alt="This is your image" />
        </div>
        <!--<p><span style="font-weight: 500; text-transform: uppercase; letter-spacing: 1px;">Uploaded:  </span><span class="image-title"></span></p>-->
        <div class="container" id="chooseMethod">
          <div>
            <p id="selectMethodText">Select a method below</p>
          </div>
          <div class="methodList">
            <div class="methodOption inactive" id="methodHE">
              <h1>Histogram Equalization</h1>
              <ul>
                <li>Image processing method to adjust the contrast of an image by modifying the histogram of the image.</li>
                <li>Histograms with large peaks correspond to images with low contrast.</li>
                <li>Histogram equalization stretches the peak of the image's histogram.</li>
              </ul>
            </div>
            <div class="methodOption inactive" id="methodDHE">
              <h1>Dynamic Histogram Equalization</h1>
              <ul>
                <li>Smart contrast enhancement technique based on conventional histogram equalization.</li>
                <li>Performs the enhancement of an image while minimizing loss of details.</li>
                <li>Employs a partitioning operation over the input histogram.</li>
                <li>May have better overall contrast enhancement compared to normal hisogram equalization.</li>
              </ul>
            </div>
          </div>
          <div class="image-title-wrap">
            <a class="button remove-image" id="removeButton" onclick="removeUpload()">Reset</span></a>
            <input class="button" id="submitButton" type="submit" value="Submit image"/>
          </div>
        </div>
      </form>
      </div>
    </section>
    <section id="upload">
      <div class="container" id="results">
        <p hidden id="message">Please wait... this can take a while. Page will refresh upon completion.</p>
    
        {% if output_image %}
        <div class="input_image">
          <h2>Input Image:</h2>
          <img src="{{ url_for('send_image_file', filename=input_image) }}" alt="Input Image">
        </div>
        {% endif %}
    
        {% if input_image %}
        <div class="output_image">
          <h2>Output Image:</h2>
          <img src="{{ url_for('send_image_file', filename=output_image) }}" alt="Output Image">
        </div>
    
        <div>
          <a href="{{ url_for('download_image_file', filename=output_image) }}" download="dhe" class="btn">
            Download
          </a>
        </div>
        {% endif %}

        <script>
          $("#upload_form").submit(function (){
            $("#submitButton").prop('disabled', true);
            $("#removeButton").prop('disabled', true);
            $("#message").show();
            var formData = new FormData(this);
            // jQuery.each(jQuery('#file')[0].files, function(i, file) {
            //   data.append('file-'+i, file);
            // });
            $.ajax({
              url: '/image_upload',
              data: formData,
              cache: false,
              contentType: false,
              processData: false,
              method: 'POST',
              type: 'POST',
              success:function(formData){
                $("#message").text('Done! Redirecting now...');
                location.reload();
              }
            })
          })
        </script>
      </div>
    </section>
  </body>

</html>