<html>
  <head>
    <title>Histohance</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/js/scripthistogram.js"></script>
  </head>
  <body>
    <section id="welcome">
      <div class="container" id="welcome">
        <div class="logo">
          <img id="logo"></img>
          <p>Enhance your images today!</p>
          <a class="button getStarted" href="/upload">Get started</a>
        </div>
      </div>
    </section>
    <section id="upload">
      <div class="container" id="upload">
      <form id="upload_form" onsubmit="return false;" method= "POST" enctype="multipart/form-data" class="hist_form">
        <div class="image-upload-wrap">
          <input id="file" class="file-upload-input" type = "file" name = "file" onchange="readURL(this);" accept="image/*" />
          <div class="drag-text">
            <p>Upload your image here</p>
          </div>
        </div>
        <div class="file-upload-content">
          <img class="file-upload-image" src="#" alt="This is your image" />
          <p class="image-title-holder"><span class="image-title"></span></p>
        </div>
        <div class="container" id="chooseMethod">
          <div>
            <p id="selectMethodText">Select a method below</p>
          </div>
          <div class="methodList">
            <div class="methodOption active" id="methodHE">
              <h1>Histogram Equalization</h1>
              <ul>
                <li>Image processing method to adjust the contrast of an image by modifying the histogram of the image.</li>
                <li>Histograms with large peaks correspond to images with low contrast.</li>
                <li>Histogram equalization stretches the peak of the image's histogram.</li>
              </ul>
            </div>
            <div class="methodOption inactive" id="methodDHE">
              <h1>Dynamic Histogram Equalization</h1>
              <ul>
                <li>Smart contrast enhancement technique based on conventional histogram equalization.</li>
                <li>Performs the enhancement of an image while minimizing loss of details.</li>
                <li>Employs a partitioning operation over the input histogram.</li>
                <li>May have better overall contrast enhancement compared to normal hisogram equalization.</li>
              </ul>
            </div>
          </div>
          <div class="image-title-wrap">
            <a class="button remove-image" id="removeButton" onclick="removeUpload()">Reset</a>
            <input class="button" id="submitButton" type="submit" value="Submit image"/>
          </div>
        </div>
      </form>
      </div>
    </section>
    <section id="upload">
      <div class="container" id="results">
        <p hidden id="message">Please wait... this can take a while. Page will refresh upon completion.</p>
        <div style="display:flex;">
          {% if output_image %}
          <div class="input_image" style=" margin: 1em;">
            <h2>Input Image:</h2>
            <img src="{{ url_for('send_image_file', filename=input_image) }}" alt="Input Image">
          </div>
          {% endif %}
      
          {% if input_image %}
          <div class="output_image" style=" margin: 1em;">
            <h2>Output Image:</h2>
            <img src="{{ url_for('send_image_file', filename=output_image) }}" alt="Output Image">
          </div>
          {% endif %}
        </div>
        <div>
          <a href="{{ url_for('download_image_file', filename=output_image) }}" class="button" id="downloadButton" download="dhe">Download Image</a>
        </div>

        <script>
          // 1 for DHE, 2 for HE
          var methodCode = 2;

          function setActive($object, isActive) {
            if (isActive) {
                $object.addClass('active');
                $object.removeClass('inactive');
            } else {
                $object.addClass('inactive');
                $object.removeClass('active');
            }
          }

          function toggleMethodOptions($active, $inactive) {
            if ($active.hasClass('active')) {
                setActive($active, false);
                setActive($inactive, false);
            } else {
                setActive($active, true);
                setActive($inactive, false);
            }
          }

          function getMethod() {
            return methodCode;
          }

          $(function() {
            $('#methodDHE').on('click', function(e) { toggleMethodOptions($('#methodDHE'), $('#methodHE')); methodCode = 1; })
            $('#methodHE').on('click', function(e) { toggleMethodOptions($('#methodHE'), $('#methodDHE')); methodCode = 2; })
          });

          $("#upload_form").submit(function (){
            $("#submitButton").attr("disabled", 'disabled');
            $("#removeButton").attr("disabled", 'disabled');
            $("#message").show();
            // These two lines of code appends the image
            var form = document.getElementById('upload_form');
            var formData = new FormData(form);
            // This line appends the selected method value
            formData.append('use_method', getMethod());
            
            $.ajax({
              url: '/upload',
              data: formData,
              cache: false,
              contentType: false,
              processData: false,
              method: 'POST',
              type: 'POST',
              success:function(formData){
                $("#message").text('Done! Redirecting now...');
                location.reload();
              }
            })
          })
        </script>
      </div>
    </section>
  </body>

</html>