:root {
    /* Color Palette */
    --medium-purple: #915eff;
    --faded-button-gray: #ECECEC;
    --translucent-gray: rgba(0, 0, 0, 20%);
    --dark-gray: #535353;
    --light-gray: #F7F7F7;
    --white: #FFFFFF;
    --black: #000000;
 }

body {
    font-family: "Rubik";
}

.file-upload {
    background-color: var(--white);
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    size: 50%;
}

img#logo {
    width: 500px;
    height: 100px;
    content: url("../img/logo.png");
}
  
.btn{
    background-color: var(--medium-purple); /* Green */
    border: none;
    border-radius: 12px;
    color: var(--white);
    padding: 18px 36px;
    margin: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 100ms ease-in-out all;
    box-shadow: 0px 3px 0px var(--translucent-gray);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}
  
.btn:hover {
    color: var(--white);
    transform: translateY(-3px);
    transition: 200ms ease-in-out all;
    box-shadow: 0px 5px 0px var(--translucent-gray);
}
 
 .btn:active {
    color: var(--white);
    transform: translateY(0px);
    transition: 100ms ease-in-out all;
    box-shadow: 0px 3px 0px var(--translucent-gray);
}
  
.file-upload-content {
    display: none;
    text-align: center;
}
  
.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.hist_form{
    width: 190%;
}
  
.image-upload-wrap {
    margin-top: 20px;
    border: 4px solid var(--light-gray);
    background-color: var(--light-gray);
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.image-dropping,
.image-upload-wrap:hover {
    background-color: var(--faded-button-gray);
    border: 4px solid var(--white);
}
  
.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}
  
.drag-text {
    text-align: center;
}
  
.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: var(--black);
    padding: 60px 0;
}
  
.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}
  
.remove-image {
    width: 200px;
    margin: 0;
    color: var(--white);
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}
  
.remove-image:hover {
    background: #c13b2a;
    color: var(--white);
    transition: all .2s ease;
    cursor: pointer;
}
  
.remove-image:active {
    border: 0;
    transition: all .2s ease;
}

#message{
    text-align: center;
}

.output_image, .input_image{
    display: flex;
    flex-direction: column;
    align-items: center;
}