:root {
   /* Color Palette */
   --medium-purple: #915eff;
   --faded-button-gray: #ECECEC;
   --translucent-gray: rgba(0, 0, 0, 20%);
   --dark-gray: #535353;
   --light-gray: #F7F7F7;
   --white: #FFFFFF;
   --black: #000000;
}

body {
   padding: 0;
   margin: 0;
   font-family: "Rubik";
   line-height: 1.15;
 }
 
footer {
   margin-top: 20px;
}

a {
   color: var(--black);
   font-size: 18px;
   text-decoration-thickness: 1px;
   text-underline-offset: 5px;
}

a:hover {
   color: var(--medium-purple);
   text-decoration-thickness: 2px;
}

div.container {
   margin: 1em;
   margin-top: 2em;
   margin-bottom: 2em;
   display: flex;
   vertical-align: middle;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

/*
   For placeholder welcome container 
*/


.logo {
   margin-left: auto;
   margin-right: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}

img#logo {
   width: 500px;
   height: 100px;
   content: url("../img/logo.png");
}

.logo p {
   font-weight: 200;
   font-size: 21px;
   margin-top: 0em;
   margin-bottom: 2em;
}

.button {
  background-color: var(--medium-purple); /* Green */
  border: none;
  border-radius: 12px;
  color: var(--white);
  padding: 18px 36px;
  margin: 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0px 3px 0px var(--translucent-gray);
}

.button:hover {
   color: var(--white);
   transform: translateY(-3px);
   box-shadow: 0px 5px 0px var(--translucent-gray);
}

.button:active {
   color: var(--white);
   transform: translateY(0px);
   box-shadow: 0px 3px 0px var(--translucent-gray);
}

#selectMethodText {
   font-size: 16px;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 1px;
}

div.methodList {
   display: flex;
   width: 100%;
   justify-content: center;
}

div.methodOption {
   box-sizing: border-box;
   width: 40%;
   margin: 1em;
   padding: 0.5em;
   outline: 1px solid var(--translucent-gray);
   border-radius: 12px;
   background-color: var(--light-gray);
   vertical-align: middle;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.methodOption h1 {
   display: flex;
   height: 2em;
   text-align: center;
   font-size: 28px;
   font-weight: 600;
   margin-left: 3em;
   margin-right: 3em;
   margin-bottom: 1em;
   flex-direction: column;
   justify-content: center;
}

.methodOption li {
   text-align: left;
   padding-left: 4px;
   margin-bottom: 12px;
   margin-left: 1em;
   margin-right: 1em;
}

div.methodOption.active {
   outline: 3px solid var(--medium-purple);
}
